.card {

    border-radius: 15px;
    background: #ddf3e3;

}

.card-footer {
    /* background: #d8cfcf; */
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
}

.card-header {
    border-radius: 30px !important;
    border: 0px;
    /* background: #8e8a8a; */
}

@media (min-width: 992px) {
    .card1 {
        max-width: 250px;
        margin: 0 auto;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 25%;
    }
}